<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thêm mới truyện</title>
    <!-- Bootstrap CSS link -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Include stylesheet -->
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.1/dist/quill.snow.css" rel="stylesheet" />
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center mb-4">cap nhat</h1>
    <form method="post" th:action="@{/update}" th:object="${blog}">
        <input class="form-control" th:field="*{id}" type="hidden">
        <div class="mb-3">
            <label class="form-label" for="userName">Hinh anh </label>
            <input class="form-control" id="userName" required th:field="*{img}" type="text">
        </div>

        <div class="mb-3">
            <label class="form-label" for="userPhone">tieu de</label>
            <input class="form-control" id="userPhone" required th:field="*{title}"
                   type="text">
        </div>
        <div class="mb-3">
            <label class="form-label" for="userEmail">mo ta</label>
            <input class="form-control" id="userEmail" required th:field="*{des}" type="text">
        </div>
        <div class="form-group">
            <label for="content">Nội dung:</label>
            <textarea id="content" hidden="hidden" name="content" class="form-control" th:field="*{content}" required></textarea>
            <!-- Create the editor container -->
            <div id="editor">
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="userNation">ngay</label>
            <input class="form-control" id="userNation" th:field="*{date}" type="text">
        </div>
        <div class="form-group">
            <label for="date1">nguoi viet</label>
            <input id="date1" name="date" class="form-control" th:field="*{user}">
        </div>
        <div class="form-group">
            <div class="mb-3">
                <label class="form-label" for="userRole">the loai </label>
                <select class="form-control" id="userRole" required th:field="*{category}">
                    <option th:each="category1 : ${category}" th:text="${category1.name}" th:value="${category1.id}"></option>
                </select>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <button class="btn btn-success me-2" type="submit">Save Changes</button>
            <a class="btn btn-secondary" th:href="@{/}">Cancel</a>
        </div>
    </form>
</div>

<!-- Include the Quill library -->
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.1/dist/quill.js"></script>

<!-- Initialize Quill editor -->
<script>
    const quill = new Quill('#editor', {
        theme: 'snow'
    });

    quill.on('text-change', function(delta, oldDelta, source) {
        document.getElementById("content").value = quill.root.innerHTML
    });
</script>
<!-- Bootstrap JS script -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Script để đặt ngày mặc định -->
<script>
    // Lấy ngày hiện tại
    var currentDate = new Date();

    // Định dạng ngày tháng để gán cho input type date
    var year = currentDate.getFullYear();
    var month = ('0' + (currentDate.getMonth() + 1)).slice(-2);
    var day = ('0' + currentDate.getDate()).slice(-2);
    var formattedDate = year + '-' + month + '-' + day;

    // Gán giá trị mặc định cho input type date
    document.getElementById('date').value = formattedDate;
</script>
</body>
</html>
